# PostgreSQL
CHAT_DB_HOST=10.50.29.157
CHAT_DB_PORT=5432
CHAT_DB_NAME=chatdb
CHAT_DB_USER=chatuser
CHAT_DB_PASS=changeme   #NOT real password ,actual one is on your name.

# Application
HOST=0.0.0.0
PORT=3000